.intro {
  max-width: 1600px; 
  padding-top: 100px;
}

.title-text {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1;
  color: var(--Black);
  color: rgba(42, 42, 42, 1);
  /* text-transform: uppercase; */
}


@media (max-width: 425px) {
  .title-text {
    font-size: 4rem;
  }
}
