.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.logotype {
  display: block;
  width: 150px;
  height: 20px;
  background-image: url('../logo/Logotipo.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.list, .nav-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 12px;

}

.nav-text:hover {
  text-decoration: 1px solid underline black;
  
}
